/* AutoQuote.css */
.auto-quote-container {
  width: auto;
  min-width: 310px;
  min-height: 150px;
  height: auto;
  margin: 15px auto;
  padding: 1rem;
  color: #878787;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}

.quote {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}